.file-entry {
  margin: 0.5rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  cursor: default;
  background-color: floralwhite;
}

.file-entry :hover {
  background-color: white;
}

.file-entry p {
  vertical-align: baseline;
  display: inline;
}

.file-entry__bar {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  align-items: baseline;
}

.file-entry__bar button {
  margin-left: 1rem;
}
