.canvas {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.canvas-container {
  background-color: rgb(21, 21, 21);
  overflow: hidden;
}

.canvas-control {
  background-color: lightgray;
}
