.canvas-control {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 7rem 7rem 1fr;
  min-width: 41rem;
  border-right: 1px gray solid;
}

.canvas-control button {
  margin: 0 0.5rem;
}

.canvas-control input {
  width: 3rem;
}

.current-image {
  margin: auto 0;
}

.current-speed {
  margin: auto 0;
}
