html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#app-navigation {
  height: 10%;
}

#app-container {
  display: grid;
  position: absolute;
  width: 100%;
  top: 56px;
  bottom: 0px;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}
